body,
html {
    font-family: 'Roboto', sans-serif;
}

.nav-head {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

.nav-head .navbar-toggler {
    position: relative;
    z-index: 1;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .1);
}

.font-change {
    color: #0c2e60 !important;
    font-size: 15px;
}

.ft-change {
    font-size: 15px;
    color: #000 !important;
}

.font-change:hover {
    color: #ee390f !important;
}

.btn-get {
    background-image: linear-gradient(to left, #ee390f 0%, #f9b700 0%, #ee390f 100%);
}

.banner_part {
    height: 880px;
    position: relative;
    overflow: hidden;
    background-image: url(../images/banner_bg.png);
    background-repeat: no-repeat;
    background-size: 68%;
    background-position: top right;
    background-position-x: right;
    background-position-y: top;
}

.get-start {
    color: #0c2e60 !important;
    border: 1px solid #0c2e60;
}

.banner-h5 {
    color: #556172;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.banner-h1 {
    color: #0c2e60;
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
}

.banner-p {
    color: #777777;
    font-size: 15px;
    line-height: 26px;
}

.awesome-text {
    color: #0c2e60;
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
}

.awesome-paragraph {
    color: #888888;
    font-size: 15px;
    line-height: 25px;
}

.single_feature_part {
    border: 1px solid #f0f4f6;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
    transition-delay: 0s;
    padding: 35px 20px;
}

.ti-color {
    color: #0c2e60;
    display: table-cell;
    vertical-align: middle;
    font-size: 24px;
}

.single_feature_icon {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #f0f4f6;
    display: table;
}

.single_feature_part:hover .single_feature_icon {
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
    transition-delay: 0s;
    background-image: linear-gradient(to left, #ee390f 0%, #f9b700 0%, #ee390f 100%);
}

.single_feature_part:hover {
    border: 1px solid #ff663b;
}

.single_feature_part:hover .ti-color {
    color: #fff;
}

.feature-text {
    color: #0c2e60;
    font-size: 20px;
    font-family: Poppins, sans-serif;
}

.feature-paragraph {
    color: #7f7f7f;
    font-size: 15px;
    line-height: 27px;
}

.about-txt {
    font-size: 14px;
    color: #556172;
}

.about-txt-h2 {
    color: #0c2e60;
    font-size: 42px;
    padding-right: 180px;
    line-height: 46px;
}

.about-same {
    color: #888888;
    font-size: 15px;
    line-height: 26px;
    padding-right: 145px;
}

.member_counter .single_member_counter span {
    font-size: 60px;
    font-style: "Poppins", sans-serif;
}

.member_counter {
    padding: 73px 0px 73px;
    background-image: linear-gradient(to left, #ee390f 0%, #f9b700 0%, #ee390f 100%);
}

.member_counter .single_member_counter h4:after {
    position: absolute;
    left: 0;
    top: -20px;
    right: 0;
    margin: 0 auto;
    width: 60px;
    height: 1px;
    background-color: #fff;
    content: "";
}

.member_counter .single_member_counter h4 {
    font-size: 24px;
    margin-top: 28px;
    text-transform: capitalize;
    position: relative;
}

.section_tittle p {
    color: #556172;
    text-transform: uppercase;
    line-height: 11px;
    margin-bottom: 26px;
}

.section_tittle h2 {
    font-size: 42px;
    color: #0c2e60;
    line-height: 37px;
    position: relative;
}

.section_tittle h2:after {
    position: absolute;
    content: "";
    bottom: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: 80px;
    height: 2px;
    background-color: #ff663b;
}

.btn-web {
    background-color: #ff663b;
}

.dollar-text {
    color: #ff663b;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.devp-text {
    color: #0c2e60;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
}

.devp-paragraph {
    color: #888888;
    font-size: 15px;
    line-height: 27px;
}

.conduct-paragraph {
    color: #556172;
    font-size: 14px;
}

.conduct-name {
    color: #0c2e60;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.rating-text {
    color: #888888;
    font-size: 14px;
}

.devp-text:hover {
    color: #ff663b;
}

.advance-txt {
    font-size: 14px;
    color: #556172;
}

.advance-txt-h2 {
    color: #0c2e60;
    font-size: 42px;
    padding-right: 50px;
    line-height: 46px;
}

.advance-same {
    color: #888888;
    font-size: 15px;
    line-height: 26px;
    padding-right: 140px;
}

.single-icon {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #fff0e0;
    display: table;
}

.learn-h4 {
    color: #0c2e60;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.learn-p {
    color: #888888;
    font-size: 15px;
    line-height: 26px;
}

.student-review {
    position: relative;
    background-color: #fff;
    box-shadow: 0px 10px 30px 0px rgba(12, 46, 96, 0.1);
    z-index: 2;
}

.quote-img {
    height: 170px;
    width: 170px;
    background-image: url(../images/quote.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    z-index: -1;
    right: 40px;
}

.student-paragraph {
    color: #888888;
    font-size: 15px;
    line-height: 30px;
}

.student-position {
    color: #888888;
    font-size: 14px;
}

.student-name {
    color: #0c2e60;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.user-img {
    width: 180px;
}

.comment-list {
    color: #8a8a8a;
    font-size: 14px;
    font-weight: 400;
}

.card:hover .design-card-box {
    box-shadow: 0px 10px 30px 0px rgba(12, 46, 96, 0.1);
}

@media screen and (min-width: 1025px) and (max-width: 2560px) {}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .advance-txt-h2 {
        font-size: 35px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .about-txt-h2 {
        font-size: 30px;
        padding-right: 0px;
        line-height: 36px;
    }
    .about-same {
        font-size: 15px;
        line-height: 26px;
        padding-right: 40px;
    }
    .advance-txt-h2 {
        font-size: 30px;
        padding-right: 0px;
        line-height: 40px;
    }
    .advance-same {
        font-size: 15px;
        line-height: 26px;
        padding-right: 0px;
    }
    .user-img {
        width: 170px;
    }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
    .banner-h5 {
        font-size: 14px;
    }
    .banner-h1 {
        font-size: 40px;
    }
    .banner-p {
        font-size: 14px;
    }
    .about-txt-h2 {
        font-size: 30px;
        padding-right: 0px;
        line-height: 36px;
    }
    .about-same {
        font-size: 15px;
        line-height: 26px;
        padding-right: 0px;
    }
    .advance-txt-h2 {
        font-size: 30px;
        padding-right: 0px;
        line-height: 36px;
    }
    .advance-same {
        font-size: 15px;
        line-height: 26px;
        padding-right: 0px;
    }
    .member_counter .single_member_counter h4 {
        font-size: 22px;
    }
    .member_counter .single_member_counter span {
        font-size: 45px;
    }
    .user-img {
        width: 100%;
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    .banner-h1 {
        font-size: 30px;
    }
    .banner-p {
        font-size: 14px;
    }
    .about-txt-h2 {
        font-size: 30px;
        padding-right: 0px;
        line-height: 36px;
    }
    .about-same {
        font-size: 15px;
        line-height: 26px;
        padding-right: 0px;
    }
    .member_counter .single_member_counter h4 {
        font-size: 22px;
    }
    .member_counter .single_member_counter span {
        font-size: 45px;
    }
    .section_tittle h2 {
        font-size: 32px;
    }
    .section_tittle p {
        font-size: 14px;
    }
    .advance-txt-h2 {
        font-size: 25px;
        padding-right: 0px;
        line-height: 30px;
    }
    .advance-same {
        font-size: 14px;
        line-height: 23px;
        padding-right: 0px;
    }
    .user-img {
        width: 100%;
    }
}